.App {
  text-align: center;
  background-color:  orange; /* Light sky blue background for the entire app */
  padding: 20px;
  min-height: 60vh; /* Adjust this value as needed */
  padding: 20px; /* Add more padding if needed */
  
  
}

.Appmeasures {
  background-color: white; /* Ensures the background is white */
  padding: 20px 0; /* Provides padding to space out content from the edges */
  min-height: 100vh; /* Ensures the section takes minimum full height of the viewport */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.description {
  margin-bottom: 20px; /* Adds space below the description text */
}
.input-group {
  margin-top: 20px; /* Adds space above the input group if needed */
  display: flex;
  justify-content: center; /* Centers the input group horizontally */
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  gap:8px;

}

.input-group input, .input-group button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 8px;
}



.input-group button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #45a049;
}
.tile-container {
  display: flex;
  justify-content: start; /* Aligns tiles to the start of the container */
  gap: 8px; /* Reduced gap between tiles */
  flex-wrap: wrap; /* Allows tiles to wrap in smaller screens */
  margin-bottom: 20px; /* Space before the chart */
  margin-top: 40px;
}

.tile {
  background-color: #f0f0f0;
  padding-top: 30px;
  padding: 10px; /* Further reduced padding */
  border-radius: 8px; /* Smoother border radius */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Lighter shadow for subtlety */
  width: 150px; /* Further reduced width */
  text-align: center;
  position: relative; /* For icon positioning */
}

.tile-title {
  font-size: 14px; /* Smaller font size for titles */
  font-weight: bold;
  color :black;
  margin-top: 25px;
  margin-bottom: 5px; /* Adjusted bottom margin */
}

.tile-value {
  font-size: 13px;
  color :black;
   /* Smaller font size for values */
}

.sun-icon {
  position: absolute;
  top: 10px; /* Adjust top positioning */
  left: 10px; /* Adjust left positioning */
  width: 20px; /* Adjust icon size */
  height: 20px; /* Adjust icon size */
}

.timeline-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
  padding: 10px;
  background-color: transparent; /* Example background */
  border-radius: 8px;
  margin-top: 20px;
}

.timeline-segment {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin: 0 5px;
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column; /* Stack the value and time vertically */
}

/* Highlight UV index values greater than 7 */
.high-uv .uv-value {
  color: red;
  font-weight: bold;
}

.uv-value {
  margin-bottom: 5px;
  font-weight: bold;
   /* Add space between the UV value and the time */
}

.time {
  font-size: 0.8rem; /* Slightly smaller font size for time */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* Increase this value to space out the container below the Navbar */
}


.uv-button {
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex-grow: 1;
  margin: 0 5px;
  font-weight: bold;
  /* Add other styles for the uv-button class if needed */
}


.uv-button:hover {
  transform: scale(1.1);
}

.low {
  background: linear-gradient(90deg, #56ab2f, #a8e063);
}

.moderate {
  background: linear-gradient(90deg, #a8e063, #fdd835);
}

.high {
  background: linear-gradient(90deg, #fdd835, #f57f17);
}

.very-high {
  background: linear-gradient(90deg, #f57f17, #e53935);
}

.extreme {
  background: linear-gradient(90deg, #e53935, #b71c1c);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.image-container {
  text-align: center;
  border: 2px solid black; /* Add black border */
  border-radius: 25px; /* rounded borders */
  margin: 0; /* Remove margin if there's any */
  opacity: 0; /* Start with the image container invisible */
  transition: opacity 0.8s ease; /* Transition effect for the opacity */
}

.image-container img {
  width: 80%; /* Adjust this value to reduce the size of the icons */
  height: auto; /* This will maintain the aspect ratio of the images */
  padding: 5%;
  display: block;
  margin: 0 auto; /* This centers the image in the container if it's smaller than the container width */
}

.image-container p {
  margin-top: 10px; /* Adjust as needed */
  color:black;
}

.image-container.active {
  opacity: 1; /* Make the image container fully visible */
}

.information-text-section {
  /* Styling for the information text section */
  background: #ef8c30; /* Example background color */
  padding: 20px;
  margin-top: 20px; /* To ensure there is space between this section and the elements above it */
}

.info-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px); /* Assuming navbar height is 90px */
  margin-top: 90px; /* Adjust based on the actual navbar height */
}

.info-message p {
  text-align: center;
  margin: 0; /* Adjust if needed */
  color: black;
  font-size: larger;
}


/* Further styling as necessary */
.learn-cover-up {
  display: inline-block; /* Allows padding and background color to affect the link */
  background-color: #f0f0f0; /* Light gray background */
  color: #000; /* Black text */
  padding: 5px 10px; /* Adds some padding around the text */
  margin-top: 10px; /* Adds some space above the link */
  border-radius: 4px; /* Optional: adds rounded corners */
  text-decoration: none;
   /* Removes underline from link */
}

/* Style for hovering over the link */
.learn-cover-up:hover {
  background-color: #e0e0e0; /* Slightly darker gray on hover */
}

/* App.css */
.centered-container {
  text-align: center;/* Adjust as needed */
  padding: 10px 0;
}

.centered-title {
  font-size: 2.5em; /* Larger font size for the title */
  color: black; /* Dark text for visibility */
  margin: 0 0 20px; /* Spacing below the title */
  padding: 0;
}



.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; /* Yellow background */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Soft shadow */
  margin: 20px; /* Spacing between cards and other elements */
  width: calc(50% - 40px); /* Adjust width to 50% minus the gap from 'gap' property */
  max-width: 600px; /* Limits card size, increase if you want larger cards */
}




.card-icon {
  width: 120px; /* Adjust icon size */
  height: auto;
  flex-shrink: 0; /* Prevent resizing */
}

.card-image {
  width: 550px; /* Adjust icon size */
  height: auto;
  margin: auto; /* Center the image horizontally */
  display: block; /* Ensures margin auto works */
}


.card-content {
  flex: 1; /* Fill the remaining space */
  color: black;
  position: relative; /* This is necessary if you're using absolute positioning for children */
  padding-bottom: 70px; 
}


.card-content p {
  /* Ensures paragraphs are black */
  color: black;
  margin-top: 10px;

}


.card-link-button {
  background-color: orange; /* Default background color set to orange */
  color: black; /* Text color set to black */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px; /* Fully rounded edges for button */
  position: absolute;
  bottom: 10px; /* Space from the bottom of the card content */
  right: 10px; /* Space from the right of the card content */
  display: block;
  border: 2px solid transparent; /* Transparent border to maintain the layout */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  /* Adjust margin to ensure the button aligns to the bottom-right of the card */
}

.card-link-button:hover {
  background-color: white; /* Background color on hover set to white */
  color: black; /* Text color remains black on hover */
  border-color: orange; /* Border color changes to orange on hover to remain visible */
}


@media (max-width: 768px) {
    .info-card {
      width: calc(100% - 40px); /* On smaller screens, cards take full width minus the gap */
    }
  

  .card-icon {
    margin-bottom: 20px;
  }

  .card-link-button {
    position: static; /* On small screens, don't absolutely position the button */
    width: auto; /* Let it take the width according to its content */
    margin-top: 20px; /* Adds space above the button */
  }
}

.centered-description {
  color: #333; /* Dark text for visibility */
  font-size: 1.2em; /* Adjust the font size as necessary */
  margin-bottom: 40px; /* Spacing below the description */
  text-align: center;
}

.centered-uvdescription{
  color: #333; /* Dark text for visibility */
  font-size: 1.2em; /* Adjust the font size as necessary */
  margin-bottom: 40px; /* Spacing below the description */
  text-align: left;
}

.wallpaper-style {
  height: 60vh; /* This controls the portion of the screen the wallpaper takes */
  width: 100%; /* Ensure it covers the full width */
  overflow: hidden; /* Hide overflow to maintain the height constraint */
  position: relative; /* Set a stacking context for z-index */
 
}

.uv-index-levels-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust gap between tiles */
  margin-top: 20px; /* Space from top */
  margin-left: 30px;
}

.uv-index-level {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  gap: 10px; /* Space between text */
  border-radius: 5px; /* Slightly rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 150px; /* Width of the rectangle */
  color: #333; /* Adjust text color for visibility if needed */
}

.uv-index-level-text, .uv-index-level-range {
  font-size: 0.9rem; /* Text size */
  color: #333; /* Text color for readability */
  font-weight: bold;
}
